[submodule "api-gateway"]
	path = api-gateway
	url = git@github.com:mohammadalipour/api-gateway.git
[submodule "product-service"]
	path = product-service
	url = git@github.com:mohammadalipour/product-service.git
[submodule "user-service"]
	path = user-service
	url = git@github.com:mohammadalipour/user-service.git
[submodule "shopping-service"]
	path = shopping-service
	url = git@github.com:mohammadalipour/shopping-service.git
[submodule "inventory-service"]
	path = inventory-service
	url = git@github.com:mohammadalipour/inventory-service.git
[submodule "elk-service"]
	path = elk-service
	url = git@github.com:mohammadalipour/elk-service.git
